# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

# Importing Data

In [2]:
# Creating a Path
path = r'/Users/jacob/Desktop/Instacart Basket Analysis'

In [3]:
# Importing df_ords_prods_customers
df_ords_prods_customers = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_customers_merged.pkl'))

# Task 4.10

## 2. Consider any security implications that might exist for this new data. You’ll need to address any PII data in the data before continuing your analysis.

In [4]:
df_ords_prods_customers.head()

,user_id,first_name,last_name,gender,state,age,date_joined,number_of_dependants,fam_status,income,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_prior_orders,order_frequency_flag
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,...,Mid-range product,Regularly busy,Busiest days,Average orders,12,Regular customer,7.057534,Low spender,26.0,Non-frequent customer
2,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,...,Mid-range product,Regularly busy,Regularly busy,Average orders,12,Regular customer,7.057534,Low spender,26.0,Non-frequent customer
3,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,...,Mid-range product,Regularly busy,Regularly busy,Most orders,12,Regular customer,7.057534,Low spender,26.0,Non-frequent customer
4,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,...,Mid-range product,Regularly busy,Regularly busy,Most orders,12,Regular customer,7.057534,Low spender,26.0,Non-frequent customer
5,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,...,Mid-range product,Regularly busy,Regularly busy,Average orders,12,Regular customer,7.057534,Low spender,26.0,Non-frequent customer

In [5]:
# Dropping 'first_name' and 'surname' columns to remove PII

columns_to_drop = ['first_name', 'last_name']

In [6]:
df_ords_prods_customers = df_ords_prods_customers.drop(columns = columns_to_drop)

In [8]:
# Print head of the new dataframe
df_ords_prods_customers.head()

,user_id,gender,state,age,date_joined,number_of_dependants,fam_status,income,order_id,order_number,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_prior_orders,order_frequency_flag
1,33890,Female,New Mexico,36,1/1/2017,0,single,59285,474720,4,...,Mid-range product,Regularly busy,Busiest days,Average orders,12,Regular customer,7.057534,Low spender,26.0,Non-frequent customer
2,33890,Female,New Mexico,36,1/1/2017,0,single,59285,896617,5,...,Mid-range product,Regularly busy,Regularly busy,Average orders,12,Regular customer,7.057534,Low spender,26.0,Non-frequent customer
3,33890,Female,New Mexico,36,1/1/2017,0,single,59285,122641,2,...,Mid-range product,Regularly busy,Regularly busy,Most orders,12,Regular customer,7.057534,Low spender,26.0,Non-frequent customer
4,33890,Female,New Mexico,36,1/1/2017,0,single,59285,1044841,3,...,Mid-range product,Regularly busy,Regularly busy,Most orders,12,Regular customer,7.057534,Low spender,26.0,Non-frequent customer
5,33890,Female,New Mexico,36,1/1/2017,0,single,59285,896617,5,...,Mid-range product,Regularly busy,Regularly busy,Average orders,12,Regular customer,7.057534,Low spender,26.0,Non-frequent customer

In [9]:
# Shape of the new dataframe
df_ords_prods_customers.shape

(32404840, 31)

## 3. Creating a regional segmentation of the data & Analizing regional spending habits.

In [10]:
# Defining the Regions

Northeast = ['Maine', 'New Hampshire', 'Vermont', 'Massachusetts', 'Rhode Island', 'Connecticut', 'New York', 'Pennsylvania', 'New Jersey']
Midwest = ['Wisconsin', 'Michigan', 'Illinois', 'Indiana', 'Ohio', 'North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri']
South = ['Delaware', 'Maryland', 'District of Columbia', 'Virginia', 'West Virginia', 'North Carolina', 'South Carolina', 'Georgia', 'Florida', 'Kentucky', 'Tennessee', 'Mississippi', 'Alabama', 'Oklahoma', 'Texas', 'Arkansas', 'Louisiana']
West = ['Idaho', 'Montana', 'Wyoming', 'Nevada', 'Utah', 'Colorado', 'Arizona', 'New Mexico', 'Alaska', 'Washington', 'Oregon', 'California', 'Hawaii']

In [11]:
# Assigning States in 'state' column to a region

df_ords_prods_customers.loc[df_ords_prods_customers['state'].isin(Northeast), 'region'] = 'Northeast'
df_ords_prods_customers.loc[df_ords_prods_customers['state'].isin(Midwest), 'region'] = 'Midwest'
df_ords_prods_customers.loc[df_ords_prods_customers['state'].isin(South), 'region'] = 'South'
df_ords_prods_customers.loc[df_ords_prods_customers['state'].isin(West), 'region'] = 'West'

In [12]:
# Checking the outcome

df_ords_prods_customers['region'].value_counts(dropna = False)

region
South        10791885
West          8292912
Midwest       7597307
Northeast     5722736
Name: count, dtype: int64

In [13]:
df_ords_prods_customers.shape

(32404840, 32)

In [15]:
# Checking columns of the dataframe
df_ords_prods_customers.columns

Index(['user_id', 'gender', 'state', 'age', 'date_joined',
       'number_of_dependants', 'fam_status', 'income', 'order_id',
       'order_number', 'orders_day_of_week', 'order_hour_of_day',
       'days_since_prior_order', 'product_id', 'add_to_cart_order',
       'reordered', 'product_name', 'aisle_id', 'department_id', 'prices',
       '_merge', 'price_range_loc', 'busiest_day', 'busiest_days',
       'busiest_period_of_day', 'max_order', 'loyalty_flag', 'average_price',
       'spending_flag', 'median_prior_orders', 'order_frequency_flag',
       'region'],
      dtype='object')

In [16]:
# Checking for variations in spending habits by region 

crosstab = pd.crosstab(df_ords_prods_customers['region'], df_ords_prods_customers['spending_flag'], dropna = False)

In [17]:
# Printing output
crosstab

spending_flag  High spender  Low spender
region
Midwest               29265      7568042
Northeast             18642      5704094
South                 40579     10751306
West                  31242      8261670

### Regional spending habits exhibit minimal variation with the existing distinction between individuals who spend a lot and those who spend less. The distribution of high and low spenders within each region closely resembles one another.

## 4. Creating an exclusion flag for low-activity customers (customers with less than 5 orders).

In [18]:
# Create a flag for customers with less than 5 orders

df_ords_prods_customers.loc[df_ords_prods_customers['max_order'] < 5, 'customer_activity'] = 'low activity'

In [19]:
# Creating a flag for customers with 5 orders or more

df_ords_prods_customers.loc[df_ords_prods_customers['max_order'] >= 5, 'customer_activity'] = 'high activity'

In [20]:
# Cheking the output
df_ords_prods_customers['customer_activity'].value_counts(dropna = False)

customer_activity
high activity    30964545
low activity      1440295
Name: count, dtype: int64

In [21]:
# Assigning low activity customers to new dataframe

low_activity_customers = df_ords_prods_customers[df_ords_prods_customers['customer_activity'] == 'low activity']

In [22]:
# Checking the output

low_activity_customers.head()

,user_id,gender,state,age,date_joined,number_of_dependants,fam_status,income,order_id,order_number,...,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_prior_orders,order_frequency_flag,region,customer_activity
711,168851,Male,South Carolina,30,1/1/2017,0,single,63712,1903574,1,...,Regularly busy,Average orders,3,New customer,7.485714,Low spender,20.5,Non-frequent customer,South,low activity
712,168851,Male,South Carolina,30,1/1/2017,0,single,63712,1193140,2,...,Slowest days,Most orders,3,New customer,7.485714,Low spender,20.5,Non-frequent customer,South,low activity
713,168851,Male,South Carolina,30,1/1/2017,0,single,63712,1870356,3,...,Busiest days,Average orders,3,New customer,7.485714,Low spender,20.5,Non-frequent customer,South,low activity
714,168851,Male,South Carolina,30,1/1/2017,0,single,63712,1903574,1,...,Regularly busy,Average orders,3,New customer,7.485714,Low spender,20.5,Non-frequent customer,South,low activity
715,168851,Male,South Carolina,30,1/1/2017,0,single,63712,1193140,2,...,Slowest days,Most orders,3,New customer,7.485714,Low spender,20.5,Non-frequent customer,South,low activity

In [23]:
low_activity_customers.shape

(1440295, 33)

In [25]:
# Exporting and saving low_activity_customers dataframe

low_activity_customers.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'low_activity_customers.pkl'))

In [27]:
# Assigning high activity customers to new dataframe

high_activity_customers = df_ords_prods_customers[df_ords_prods_customers['customer_activity'] == 'high activity']

In [28]:
high_activity_customers.shape

(30964545, 33)

In [29]:
# Exporting and saving high_activity_customers dataframe

high_activity_customers.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'high_activity_customers.pkl'))

# From now on we´re gonna use the high_activity_customers as our main dataframe